/*
 ## Grid
*/
/*
 ## Colors
*/
/*
 ## Font, line-height, font-size
*/
h1, .card-title {
  font-size: 22px;
  line-height: 35px; }

.header, .header__delivery, .header__actions, .footer__app, .form, .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.mobile-show {
  display: none; }

@media (max-width: 700px) {
  .header__delivery .form__control--lg {
    width: 165px; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header-wrap {
  -webkit-box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
          box-shadow: 0 0 16px rgba(38, 38, 38, 0.16); }

.header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0; }
  .header__logo {
    height: 14px; }
    .header__logo img {
      height: 100%;
      width: auto; }
  .header__delivery {
    font-size: 1rem;
    line-height: 24px;
    color: #1d1d1d;
    margin-left: 30px; }
  .header__cart {
    cursor: pointer;
    padding: 10px;
    line-height: 0; }
    .header__cart img {
      height: 24px; }

.footer__wrap {
  background-color: #262626;
  position: relative; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 55px 0 7px; }
  .footer__logo {
    margin-bottom: 40px;
    height: 21px; }
  .footer__content {
    padding: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__localization {
    margin-bottom: 32px;
    margin-right: 70px; }
  .footer__tag {
    font-size: 1rem;
    line-height: 19px;
    color: #fff;
    margin-bottom: 17px;
    cursor: pointer; }
  .footer__tag-symbol {
    color: #49a144; }
  .footer__list {
    font-size: 13px;
    line-height: 15px; }
    .footer__list-item {
      margin-bottom: 8px; }
    .footer__list-link {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      padding: 8px 10px;
      font-size: 13px;
      line-height: 15px;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
      .footer__list-link:hover {
        opacity: 0.7; }
    .footer__list--ml {
      margin-left: -5px; }
  .footer__app {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0 38px 20px; }
    .footer__app-link:first-child {
      margin-right: 40px; }
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px; }
    .footer__bottom-text {
      font-size: 11px;
      line-height: 13px;
      display: inline-block;
      color: #fff;
      text-decoration: none;
      padding: 7px 10px; }
      .footer__bottom-text--link {
        cursor: pointer;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
        .footer__bottom-text--link:hover {
          opacity: 0.7; }
    .footer__bottom-text--pl-0 {
      padding-left: 0; }
    .footer__bottom-text--pl-5 {
      padding-left: 5px; }

.form {
  color: #1d1d1d; }
  .form__group {
    position: relative; }
  .form__control {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 7px 0;
    line-height: 24px;
    width: 100%;
    color: #3b3b3b;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    letter-spacing: -0.1px; }
    .form__control--sm {
      width: 65px;
      padding: 7px 10px;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;}
    .form__control--lg {
      width: 292px; }
  .form__text {
    color: #3b3b3b;
    padding: 0 9px;
    font-size: 1rem; }

.address-icon {
  background: url("../images/mark.png") no-repeat 10px;
  padding-left: 35px; }

.btn {
  font-size: 13px;
  line-height: 24px;
  padding: 7px;
  width: 80px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }
  .btn-light {
    color: #1d1d1d;
    border-color: #e0e0e0;
    margin-right: 12px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .btn-light:hover {
      background-color: #e6e6e6; }
  .btn-dark {
    background: #262626;
    color: #fff;
    border-color: #262626;
    margin-right: 16px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .btn-dark:hover {
      background-color: #404040; }

.btn-select {
  background: #3b3b3b url("../images/world.svg") no-repeat 15px center;
  background-size: 16px;
  max-width: 227px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .btn-select:hover {
    background-color: #555555; }
  .btn-select select {
    padding: 10px 10px 10px 47px;
    text-transform: uppercase;
    width: 100%;
    background: transparent url(../images/arrow-down.svg) no-repeat 96% 16px;
    border-radius: 2px;
    color: white;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.3px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none; }
  .btn-select select option {
    background-color: #3b3b3b;
    color: #fff; }

.scroll_top {
  position: absolute;
  text-align: center;
  line-height: 90px;
  width: 80px;
  height: 80px;
  color: #fff;
  background-color: #59bd5a;
  z-index: 1;
  bottom: 24px;
  right: 6px;
  cursor: pointer;
  border-radius: 2px; }

.card-title {
  letter-spacing: -0.4px;
  color: #1d1d1d;
  margin-bottom: 14px; }

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -16px;
  margin-bottom: 64px; }

.card {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
  width: calc(100% - 16px); 
  transition: transform 0.3s;}
  .card__photo {
    height: 256px; }
    .card__photo img {
      height: 100%;
      width: 100%; }
  .card__content {
    padding: 16px 0 20px; }
    .card__content-title {
      font-size: 1rem;
      line-height: 24px;
      color: #1d1d1d;
      margin-bottom: 4px; }
    .card__content-description {
      font-size: 14px;
      line-height: 21px;
      color: #626262;
      margin-bottom: 4px; }
    .card__content-details {
      font-size: 13px;
      line-height: 21px;
      color: #1d1d1d; }
  .card:hover {
    cursor: pointer;
    background-color: #7575750a; 
    transform: translateY(-10px);}

.search {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #3b3b3b;
  opacity: 0.5;
  margin-bottom: 57px;
  padding-top: 25px; }
  .search-field {
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    background: url("../images/search.svg") no-repeat 0 15px;
    padding: 18px 30px;
    font-size: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    outline: none;}

  .search-field:focus {
     border-bottom: 1px solid black;}

.social__link {
  display: inline-block;
  cursor: pointer;
  margin-right: 6px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .social__link:hover {
    opacity: 0.7; }

.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.4); }

.container {
  max-width: 956px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.col {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  max-width: 100%; }

@media (max-width: 1023px) {
  .col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .container {
    padding: 0 7px; 
    max-width: 754px;}
  .header {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial; }
    .header__logo {
      height: 12.5px; }
    .header__delivery {
      margin-left: 23px; }
    .header__actions {
      margin: 0 0 0 auto; }
  .form__control {
    font-size: 13px; }
    .form__control--sm {
      width: 55px; }
    .form__control--lg {
      width: 215px; }
  .card-title {
    letter-spacing: 0; }
  .card-list {
    margin-bottom: 32px;
    margin-right: -7px; }
  .card {
    width: calc(100% - 7px); }
  .footer__localization {
    margin-right: 0; }
  .btn-select {
    max-width: 176px; }
  .footer__tag {
    margin-bottom: 15px; }
  .social__link {
    margin-right: 8px; }
  .footer__app {
    margin-left: 14px; }
  .scroll_top {
    right: 16px; } }

@media (max-width: 639px) {
  .container {
    max-width: 340px;}
  .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .header {
    padding: 16px 0; }
  .header__delivery {
    display: none; }
  .form__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: self-end;
        -ms-flex-align: self-end;
            align-items: self-end; }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 25px; }
  .mobile-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__cart {
    display: none; }
  .btn {
    width: 72px; }
  .header__auth .btn:first-child {
    margin-right: 5px; }
  .header__auth .btn:last-child {
    margin-right: 0; }
  .search {
    padding-top: 28px;
    margin-bottom: 24px; }
  .search-field {
    background-size: 18px;
    padding: 16px 24px 20px;
    font-size: 13px; }
  .form__text {
    text-transform: capitalize;
    font-size: 11px;
    line-height: 13px;
    padding: 0;
    margin-bottom: 8px; }
  .form__control--sm {
    width: 65px; }
  .form__control--lg {
    width: 100%; }
  .delivery-form-mobile {
    margin-bottom: 40px;
    width: 100vw; }
    .delivery-form-mobile .form__group:first-child {
      margin-right: 16px; }
    .delivery-form-mobile .form__group:nth-child(2) {
      width: 100%; }
  .card-title {
    margin-bottom: 15px; }
  .card__photo {
    max-height: 246px; }
  .footer__social.social {
    margin-bottom: 28px; }
  .footer__list-link {
    padding-left: 0; }
    .footer__list-link.pl-5 {
      padding-left: 0; }
  .footer__app {
    margin: 23px 0 21px 16px; }
  .footer__app-link {
    max-width: 107px; }
    .footer__app-link img {
      width: 100%; }
  .footer__app-link:first-child {
    margin-right: 25px; }
  .footer__app-link:nth-child(2) {
    max-width: 124px; }
  .footer__bottom-text {
    margin-bottom: 11px; }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__bottom-text--link {
      padding-left: 0; }
      .footer__bottom-text--link.pl-5 {
        padding-left: 0; }
  .footer__wrap {
    padding-bottom: 15px; }
  .scroll_top {
    line-height: 76px;
    width: 64px;
    height: 64px; } }

.pl-0 {
  padding-left: 0; }

.pl-5 {
  padding-left: 5px; }

body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

/*# sourceMappingURL=main.css.map */
